<div class="Ironhack">
    <h4><img src="assets/Ironhack.png">
      <h3>CINEMA</h3>
    </h4>
</div><br><br>
<div class="container">
  <div class="movieContainer">
    <p>ROOM {{movieSelected.room}} - <b>{{movieSelected.title}}</b></p>
    <img src="{{movieSelected.poster}}" alt="Movie Poster">
  </div>
  <div class="infoContainer">
      <span><b>Genres:</b> <br>
          <span *ngFor="let genre of movieSelected.genres">
            <span>{{genre}}</span><br>
          </span>
      </span><br>
      <span>
        <b>Year:</b> {{movieSelected.year}}
      </span><br><br>
      <span>
          <b>Director:</b> {{movieSelected.director}}
      </span><br><br>
      <span><b>Actors:</b> </span><br>
      <span *ngFor="let actor of movieSelected.actors">
          <span>{{actor}}</span><br>
      </span><br>
      <span><b>Schedule:</b> </span><br>
      <span *ngFor="let horarios of movieSelected.hours">
          <span>{{horarios}}</span><br>
      </span><br>
      <span>
          <b>Synopsis</b> <br>{{movieSelected.synopsis}}
      </span><br><br>
      <a href="/home">Go Home</a>    
  </div>
</div>