.Ironhack {
  display: flex;
  text-align: center;
  flex-wrap: wrap;  
  justify-content: center;
}
.moviesContainer {
  display: flex;
  justify-content: space-around;
}
.movieContainer {
  flex-wrap: wrap;
  text-align: center;
}

.movieContainer img {
  width: 70%;
  object-fit: cover;

}